# Eclipse
.classpath
.project
.settings
.metadata
build
bin
 
 
# Spring
.springBeans
 
# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
 
# Class Files #
*.class
 
# Package Files #
#*.jar
*.war
*.ear
 
# Maven #
target
 
# Subversion files
.svn
 
# Windows
[Tt]humbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
 
# Linux
.*
!.gitignore
*~
 
# Mac OS X
.DS_Store
._.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
 
# Other
.bak