<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
 
<head>
    <meta charset="UTF-8">
</head>
 
<body>
     
    <div layout:fragment="content">
 		
 		<div class="container">
	 		<div class="row">
	  			<div class="col-sm-12">
			    	<div class="jumbotron">
					  <h1 class="display-4">Hello, world!</h1>
					  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
					  <hr class="my-4">
					  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
					  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
					</div>
				</div>
			</div>
			
			<div class="row">
	  			<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
					  <img class="card-img-top" th:src="@{/img/foto.jpg}" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">Card title</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>
				</div>
			
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
					  <img class="card-img-top" th:src="@{/img/foto.jpg}" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">Card title</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card" style="width: 18rem;">
					  <img class="card-img-top" th:src="@{/img/foto.jpg}" alt="Card image cap">
					  <div class="card-body">
					    <h5 class="card-title">Card title</h5>
					    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					    <a href="#" class="btn btn-primary">Go somewhere</a>
					  </div>
					</div>
				</div>
			</div>
			
			<div class="row">
	  			<div class="col-sm-12">
					<div class="card" style="width: 18rem;">
					  <ul class="list-group list-group-flush">
					    <li class="list-group-item">Cras justo odio</li>
					    <li class="list-group-item">Dapibus ac facilisis in</li>
					    <li class="list-group-item">Vestibulum at eros</li>
					  </ul>
					</div>
				</div>
			</div>
		
		</div>
     
    </div>
 
</body>
 
</html>